body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

a {
    /* @todo put a base style */
    font-weight: 900;
    color: $iron;
    text-decoration: none;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid $iron;
    padding: 0.5em;
    margin: 0;
    quotes: "\201C""\201D""\2018""\2019";
    color: $oranges;
}

blockquote:before {
    color: $blueish;
    content: open-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}