.highlight {
    margin: 1em -2em;
    position: relative;
}

.hljs {
    padding-top: 2.1em !important;

    &:before {
        content: attr(data-lang);
        color: white;
        background: $oranges;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 5px 0;
        text-indent: 15px;
        border-radius: 0px;
        font-family: 'Roboto', sans-serif;
    }
}