---
layout: default
---

<div class="page home-page">
    {% include header.html type="default" %}

    <main class="main main--about">
        <div class="about">
          Wrong URL or this page doesn't exist anymore....  <br> <br>


          <a href="/"><b>Click here to visit the home page.</b></a>
        </div>

        <div class="menu page--title">
            <div class="inner texture2">
                404
            </div>
        </div>

    </main>

    {% include footer.html %}
</div>
