---
layout: default
title: About
---

<div class="page home-page about-page">
    {% include header.html type="default" %}

    <main class="main main--about">
        <div class="about">
{% capture about_md %}
{% include about.md %}
{% endcapture %}
            {{ about_md | markdownify }}
            <img src="{{ '/assets/motaki.jpeg' | relative_url }}" alt="" />
        </div>

        <div class="menu page--title">
            <div class="inner texture2">
                ABOUT
            </div>
        </div>

    </main>

    {% include footer.html %}
</div>