<footer class="footer {% if include.inverse %}footer--inverse{% endif %}">
    <div class="credits">
        <div class="credits__wing credits__wing--left">
            Crafted by hand
            <div class="credits__wing__sentence">Copyright 2015</div>
        </div>
        <div class="credits__flag"></div>
        <div class="credits__wing credits__wing--right">
            Made in Morocco
            <div class="credits__wing__sentence">Motaquillah Maddane</div>
        </div>
    </div>
</footer>