<header class="header {% if include.within-post-cover %}header--within-post{% endif %}">
    <a href="{{ '/' | prepend: site.baseurl }}" class="logo">
        <img src="{{ '/assets/images/logo.svg' | prepend: site.baseurl }}" alt="Electrik Frog" class="logo__img">
        <img src="{{ '/assets/images/logo-mobile.svg' | prepend: site.baseurl }}" alt="Electrik Frog" class="logo__img--mobile">
    </a>

    <div class="menu">
        <a href="{{ '/' | prepend: site.baseurl }}" class="menu__item menu__item--active">Writing</a>
        <a href="{{ '/projects' | prepend: site.baseurl }}" class="menu__item">Projects</a>
        <a href="{{ '/about' | prepend: site.baseurl }}" class="menu__item">About</a>
        <!-- <a href="{{ '#' | prepend: site.baseurl }}" class="menu__item">Talks</a> -->
    </div>
</header>