.post {
    .mac-app-icon {
        width: 8em;
        display: block;
        margin: auto;
        margin-top: 2.5em;
    }

    .mac-app-title {
        font-size: 1.38em;
        display: block;
        text-align: center;
        margin-bottom: 40px;

        &:hover {
            border: none;
            background-color: transparent;
            text-decoration: underline;
        }
    }
}