@media (max-width: 800px) {
    body {
        font-size: 0.5em; /*8px*/
    }

    .header {
        font-size: 1.6em; /*12.8px*/
        flex-direction: column;
        padding-bottom: 4em;
        position: initial;
        background-color: $iron;
    }

    .menu {
        flex: 1 1 auto;
        justify-content: space-between;
        font-size: 1.41em;
        margin-top: 2em;
        flex-wrap: nowrap;

        &__item {
            padding-left: 0;
        }
    }

    .title {
        font-size: 3em;
    }

    .content:not(.content--post) {
        padding: 0 2.5em;
        padding-top: 5.63em;
    }

    .content--post-sets {
        font-size: 1.6em; /* 12.8px */
    }

    .post {
        flex-basis: 100%;
    }

    .logo {
        text-align: center;

        @include e('img') {
            display: none;

            @include m('mobile') {
                display: initial;
                width: 20em;
            }
        }
    }

    .menu {
        @include e('item') {
            &:not(:first-child) {
                padding-left: 0;
            }
        }
    }
}