.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $iron;
    justify-content: space-between;
    min-height: 100vh;
}

.greeting {
    font-size: 5em; /* 80px */

    @include e('highlight') {
        font-weight: 300;
        color: $oranges;
    }
}

.bio {
    font-size: 1.25em; /* 20px */
    max-width: 900px;
    letter-spacing: 0.02em;
}

.social-links {
    font-size: 1.25em; /*20px*/
    font-weight: 900;
    padding-bottom: 2.5em;

    @include e('item') {
        color: $iron;
        text-decoration: none;
    }

    .social-links__item:not(:last-child){
        padding-right: 1.5em;
    }
}

.back {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: $oranges;
    position: absolute;
    right: 20px;
    top: 20px;

    @include m('inverse') {
        background-color: $mr-white;
    }
}