.posts-set {
    color: $mr-white;

    @include e('title') {
        font-size: 1.88em; /*30px*/
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        padding-bottom: 0.67em;
    }

    @include e('description') {
        font-size: 1.125em; /*18px*/
        font-weight: 100;
    }

    &__title,
    &__description {
        text-align: center;
    }

    @include e('content') {
        margin-top: 3.75em;
        display: flex;
        flex-wrap: wrap;
    }
}

.post-teaser {
    font-size: 1.63em; /*26px*/
    margin-bottom: 3.08em;
    display: flex;
    color: $mr-white;
    text-decoration: none;
    flex: 1 1 50%;


    @include e('date') {
        font-size: 0.62em; /*14px*/
        font-weight: 400;
        flex: 0 0 3.57em;

        @include e('year') {
            font-size: 0.46em; /*12px*/
            font-weight: 100;
        }
    }


    @include e('title') {
        font-weight: 600;
        color: $oranges;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding-left: 0.69em;

        @include e('sub') {
            font-size: 0.54em; /*14px*/
            font-weight: 100;
            color: $blueish;
            margin-top: 0.14em;
        }
    }
}

@media (max-width: 800px) {
    .post-teaser {
        flex-basis: auto;
    }
}
