---
layout: default
---

<body class="about-page">
    <h1 class="greeting">Hello <span class="greeting__highlight">there,</span></h1>

    <div class="bio">
        {{ content }}
    </div>

    <div class="social-links">
        <a class="social-links__item" href="{{site.github}}" target="_blank">Github</a>
        <a class="social-links__item" href="{{site.twitter}}" target="_blank">Twitter</a>
        <a class="social-links__item" href="{{site.youtube}}" target="_blank">Youtube</a>
        <a class="social-links__item" href="mailto:{{ site.email }}">Email</a>
    </div>

    <a href="{{ '/' | prepend: site.baseurl }}" class="back"></a>
</body>