---
layout: default
---

<body class="about-page">
    <h1 class="greeting">Hello <span class="greeting__highlight">there,</span></h1>

    <div class="bio">
        {{ content }}
    </div>

    <div class="social-links">
        <a class="social-links__item" href="#">Github</a>
        <a class="social-links__item" href="#">Twitter</a>
        <a class="social-links__item" href="#">Youtube</a>
        <a class="social-links__item" href="#">Email</a>
    </div>

    <a href="{{ '/' | prepend: site.baseurl }}" class="back"></a>
</body>