---
layout: default
---
<body>
    {% include header.html within-post-cover=true %}

    <div class="content content--post post">
        <div class="post__info post__info--with-cover" style="background-image:url({{ page.cover | prepend: site.baseurl}});">

            <div class="post-title">
                <div class="post-title__text">{{page.title}}</div>
                <div class="post-title__sub">{{page.subtitle}}</div>
            </div>

            <div class="post-tags">
                {% for tag in page.tags %}
                    <span class="post-tags__item">{{tag}}</span>
                {% endfor %}
            </div>

            <div class="post-date">
                {{ page.date | date: "%d %B %Y" }}
            </div>
        </div>

        <div class="post__content">
            {{ content }}
        </div>
    </div>

    <a class="muut" href="https://muut.com/i/electrik-frog/comments" type="dynamic">electrik-frog</a>
    <script src="//cdn.muut.com/1/moot.min.js"></script>

    {% include footer.html inverse=true %}
</body>