---
layout: default
---
<div class="page post-page">
    {% include header.html type="post" %}

    <main class="post-content">
        <div class="date">{{ page.date | date: "%d.%m.%Y" }}</div>
        <div class="title texture">{{ page.title }}</div>
        <div class="subtitle">{{ page.subtitle }}</div>

        {% if page.cover %}
        <figure class="images images--single">
            <img src="{{ page.cover | relative_url }}" alt="">
        </figure>
        {% elsif page.cover1 and page.cover2 %}
        <div class="images">
            <figure class="images__item">
                <img src="{{ page.cover1 | relative_url }}" alt="">
            </figure>
            <figure class="images__item">
                <img src="{{ page.cover2 | relative_url }}" alt="">
            </figure>
        </div>
        {% endif %}

        <hr>

        <div class="piece">
            {{ content }}
        </div>

        <hr>

        <div class="note">
            If you have thoughts on this (or anything else, really), write me at:
            <b>motaki.maddane at google thing dot com</b>
        </div>
    </main>

    {% include footer.html %}
</div>