---
layout: default
---
<body class="projects-page">
    <div class="projects-container">
        <div class="projects-container__title">
            Projects
        </div>

        <div class="projects-container__description">
            {{content}}

            <p>
                <a href="mailto:{{ site.email }}">Email</a> ·
                <a href="{{ site.github }}" target="_blank">Github</a> ·
                <a href="{{ site.twitter }}" target="_blank">Twitter</a>
            </p>
        </div>

        {% for project in page.projects %}
            <a class="project" href="{{ project.link | prepend: site.baseurl }}" target="_blank">
                <div class="window-header">
                    <div class="window-actions">
                        <div class="window-actions__item"></div>
                        <div class="window-actions__item"></div>
                        <div class="window-actions__item"></div>
                    </div>
                </div>

                <img src="{{ project.cover | prepend: site.baseurl }}" alt="Streethead Screenshot" class="project__cover">
                <div class="project__description">
                    <span class="project__description__project-name">{{ project.name }}:</span>
                    {{ project.description }}
                </div>
            </a>
        {% endfor %}
    </div>

    <footer class="footer">
        <div class="credits">
            <div class="credits__wing credits__wing--left">
                Crafted by hand
                <div class="credits__wing__sentence">Copyright 2015</div>
            </div>
            <div class="credits__flag"></div>
            <div class="credits__wing credits__wing--right">
                Made in Morocco
                <div class="credits__wing__sentence">Motaquillah Maddane</div>
            </div>
        </div>
    </footer>

    <a href="{{ '/' | prepend: site.baseurl }}" class="back back--inverse"></a>
</body>